#cssmarquee
{
	font-family: 'Grenze';
	font-size: 20px;
	background-color: #FFD598;
}
table, th, td
{
  border: 1px solid black;
  padding: 5px;
}
.team_table
{
	display: none;
	font-family: 'Grenze';
	font-size: 19px;
}
.team_heading
{
	cursor: pointer;
	font-family: 'Cormorant Upright';
	font-size: 24px;
   	text-align: center;
	font-size: 50px;	
}

#point_table
{
	display: none;	
}
#point_table2
{
	display: none;	
}
#point_table3
{
	display: none;	
}


#Table_points
{
	background-color: #C7F5B3;
}


#battle
{
	display: none;
}
#battle3
{
	display: none;
}
#battle2
{
	display: none;
}
#Bonus
{
	background-color: #C7F5B3; 
}


#rank
{
background-color: #B7F5F4;
}
#rank2
{
background-color: #B7F5F4;
}
#rank3
{
background-color: #B7F5F4;
}


#shubh
{
background-color: #FFFF3C;
}
#karan
{
background-color: #EA99F6;
}
#harsh
{
background-color: #ED1B24;
}
#amish
{
background-color: #FF822A;
}
#viraj
{
background-color: #E83895;
}


#karan2
{
background-color: #EA99F6;
}
#kavin
{
background-color: #ED1B24;
}


#amish2
{
background-color: #FFFF3C;
}
#khushal
{
background-color: #EA99F6;
}
#jinay
{
background-color: #ED1B24;
}
#deep
{
background-color: #FF822A;
}


body
{
	background-color: white;
}
#menu
{
	text-align: center;
	font-family: 'Grenze';
	font-size: 42px;
	
}