<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='cricket.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link href='https://fonts.googleapis.com/css?family=Cormorant Upright' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Grenze' rel='stylesheet'>
<head>
	<title></title>
</head>

<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- <marquee width="100%" direction="left" height="35px" id="cssmarquee" >
	Latest updates: 	 {{ point_table[0][0] }} is leading right now with {{ point_table[0][3] }} Points, followed by {{ point_table[1][0] }} at 2nd place with {{ point_table[1][3] }} Points.
	</marquee> -->
	<hr style="margin-top: 50px;">
	<div id="family-battle" class="team_heading" style="margin-top:  50px; background: grey;"> 
		Family Battle
	</div>
	<br>
	<div id="battle"  ><!-- 
	<div id ="menu">Welcome to the Family Cricket Battle</div> -->
	<br>
	<br>
	
	<div id="shubh" class="team_heading">
		Team Shubh
	</div>
	<br>
	<div id="team1" class="team_table">
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Runs</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(posts.Players|length) %}
    <tr>
    	<th>{{ posts.Players[i] }}</th>
    	<th>{{ posts.Matches[i] }} </th>
    	<th>{{ posts.Runs[i] }} </th>
    	<th>{{ posts.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
	<br>
	
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Wickets</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(Posts.Players|length) %}
    <tr>
    	<th>{{ Posts.Players[i] }}</th>
    	<th>{{ Posts.Matches[i] }} </th>
    	<th>{{ Posts.Wickets[i] }} </th>
    	<th>{{ Posts.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
	</div>

<br>
<br>
	<div id="karan"  class="team_heading">
		Team Karan
	</div>
	<br>
<div id="team2" class="team_table">
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Runs Scored</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(posts2.Players|length) %}
    <tr>
    	<th>{{ posts2.Players[i] }}</th>
    	<th>{{ posts2.Matches[i] }}</th>
    	<th>{{ posts2.Runs[i] }} </th>
    	<th>{{ posts2.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
	<br>
	
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Wickets</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(Posts2.Players|length) %}
    <tr>
    	<th>{{ Posts2.Players[i] }}</th>
    	<th>{{ Posts2.Matches[i] }}</th>
    	<th>{{ Posts2.Wickets[i] }} </th>
    	<th>{{ Posts2.Points[i] }}</th>

    </tr>
	{% endfor %}
	</table>
</div>


<br>
<br>
	<div id="harsh" class="team_heading">
		Team Harsh
	</div>
	<br>
<div id="team3" class="team_table">
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Runs Scored</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(posts3.Players|length) %}
    <tr>
    	<th>{{ posts3.Players[i] }}</th>
    	<th>{{ posts3.Matches[i] }} </th>
    	<th>{{ posts3.Runs[i] }} </th>
    	<th>{{ posts3.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
	<br>
	
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Wickets</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(Posts3.Players|length ) %}
    <tr>
    	<th>{{ Posts3.Players[i] }}</th>
    	<th>{{ Posts3.Matches[i] }} </th>
    	<th>{{ Posts3.Wickets[i] }} </th>
    	<th>{{ Posts3.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
</div>

<br>
<br>
	<div id="amish" class="team_heading">
		Team Amish
	</div>
	<br>
<div id="team4" class="team_table">
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Runs Scored</th>
			<th>Points</th>
		</tr>
    
    {% for i in range( posts4.Players|length) %}
    <tr>
    	<th>{{ posts4.Players[i] }}</th>
    	<th>{{ posts4.Matches[i] }} </th>
    	<th>{{ posts4.Runs[i] }} </th>
    	<th>{{ posts4.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
	<br>
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Wickets</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(Posts4.Players|length) %}
    <tr>
    	<th>{{ Posts4.Players[i] }}</th>
    	<th>{{ Posts4.Matches[i] }} </th>
    	<th>{{ Posts4.Wickets[i] }} </th>
    	<th>{{ Posts4.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
</div>
<br>
<br>

	<div id="viraj" class="team_heading">
		Team Viraj
	</div>
	<br>
<div id="team5" class="team_table">
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Runs Scored</th>
			<th>Points</th>
		</tr>
    
    {% for i in range( posts5.Players|length) %}
    <tr>
    	<th>{{ posts5.Players[i] }}</th>
    	<th>{{ posts5.Matches[i] }} </th>
    	<th>{{ posts5.Runs[i] }} </th>
    	<th>{{ posts5.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
	<br>

	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Wickets</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(Posts5.Players|length) %}
    <tr>
    	<th>{{ Posts5.Players[i] }}</th>
    	<th>{{ Posts5.Matches[i] }} </th>
    	<th>{{ Posts5.Wickets[i] }} </th>
    	<th>{{ Posts5.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
</div>
<br>
<br>

<div id="rank" class="team_heading" >
	Leaderboard 
</div>
<br>
<div id="point_table" >
	<table>
		<tr>
			<th>Rank</th>
			<th>Team Name</th>
			<th>Batting Points</th>
			<th>Bowling Points</th>
			<th id="Table_points">Total Points</th>
			<th>Points to win</th>
		</tr>
		{% for i in range(5) %}
		<tr>
			<th>{{ (i+1) }}</th>
			<th>{{ point_table[i][0] }}</th>
			<th>{{ point_table[i][1] }}</th>
			<th>{{ point_table[i][2] }}</th>
			<th id="Table_points">{{ point_table[i][3] }}</th>
			<th>{{ point_table[0][3]-point_table[i][3] }}</th>
		</tr>
		{% endfor %}
	</table>
</div>
</div>
<hr style="margin-top: 50px;">
<!-- KARAN KAVIN -->
	<div id="karan-kavin" class="team_heading" style="margin-top:  60px; background: grey;"> 
		Karan v/s Kavin
	</div>
	<div id="battle2" class="">  <!-- 
	<div id ="menu">Welcome to the Friends Cricket Battle</div> -->
	<br>
	<br>
	<br>
	<div id="karan2" class="team_heading"> 
		Team Karan
	</div>
	<br>
	<div id="team6" class="team_table">
	<table>

		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Runs</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(posts6.Players|length) %}
    {% if Bonus1[0][0]==posts6.Players[i] %} 
    <tr id="Bonus">
    	<th>{{ posts6.Players[i] }}</th>
    	<th>{{ posts6.Matches[i] }} </th>
    	<th>{{ posts6.Runs[i] }} </th>
    	<th>{{ posts6.Points[i] }}</th>
    </tr>

    {% elif Bonus1[1][0]==posts6.Players[i] %} 
    <tr id="Bonus">
    	<th>{{ posts6.Players[i] }}</th>
    	<th>{{ posts6.Matches[i] }} </th>
    	<th>{{ posts6.Runs[i] }} </th>
    	<th>{{ posts6.Points[i] }}</th>
    </tr>
      
    {% else %}
    <tr>
    	<th>{{ posts6.Players[i] }}</th>
    	<th>{{ posts6.Matches[i] }} </th>
    	<th>{{ posts6.Runs[i] }} </th>
    	<th>{{ posts6.Points[i] }}</th>
    </tr>
    {% endif %}
	{% endfor %}
	</table>
	<br>
	
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Wickets</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(Posts6.Players|length) %}
     {% if Bonus1[0][0]==Posts6.Players[i] %} 
    <tr id="Bonus">
    	<th>{{ Posts6.Players[i] }}</th>
    	<th>{{ Posts6.Matches[i] }} </th>
    	<th>{{ Posts6.Wickets[i] }} </th>
    	<th>{{ Posts6.Points[i] }}</th>
    </tr>

    {% elif Bonus1[1][0]==Posts6.Players[i] %} 
    <tr id="Bonus">
    	<th>{{ Posts6.Players[i] }}</th>
    	<th>{{ Posts6.Matches[i] }} </th>
    	<th>{{ Posts6.Wickets[i] }} </th>
    	<th>{{ Posts6.Points[i] }}</th>
    </tr>
      
    {% else %}

    <tr>
    	<th>{{ Posts6.Players[i] }}</th>
    	<th>{{ Posts6.Matches[i] }} </th>
    	<th>{{ Posts6.Wickets[i] }} </th>
    	<th>{{ Posts6.Points[i] }}</th>
    </tr>
     {% endif %}
	{% endfor %}
	</table>
	</div>

<br>
<br>
	<div id="kavin"  class="team_heading">
		Team Kavin
	</div>
	<br>
<div id="team7" class="team_table">
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Runs Scored</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(posts7.Players|length) %}

     {% if Bonus2[0][0]==posts7.Players[i] %} 
    <tr id="Bonus">
    	<th>{{ posts7.Players[i] }}</th>
    	<th>{{ posts7.Matches[i] }} </th>
    	<th>{{ posts7.Runs[i] }} </th>
    	<th>{{ posts7.Points[i] }}</th>
    </tr>

    {% elif Bonus2[1][0]==Posts7.Players[i] %} 
    <tr id="Bonus">
    	<th>{{ posts7.Players[i] }}</th>
    	<th>{{ posts7.Matches[i] }} </th>
    	<th>{{ posts7.Runs[i] }} </th>
    	<th>{{ posts7.Points[i] }}</th>
    </tr>
    {% else %}

    <tr>
    	<th>{{ posts7.Players[i] }}</th>
    	<th>{{ posts7.Matches[i] }}</th>
    	<th>{{ posts7.Runs[i] }} </th>
    	<th>{{ posts7.Points[i] }}</th>
    </tr>
    {% endif %}
	{% endfor %}
	</table>
	<br>
	
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Wickets</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(Posts7.Players|length) %}

     {% if Bonus2[0][0]==Posts7.Players[i] %} 
    <tr id="Bonus">
    	<th>{{ Posts7.Players[i] }}</th>
    	<th>{{ Posts7.Matches[i] }}</th>
    	<th>{{ Posts7.Wickets[i] }} </th>
    	<th>{{ Posts7.Points[i] }}</th>
    </tr>

    {% elif Bonus2[1][0]==Posts7.Players[i] %} 
    <tr id="Bonus">
    	<th>{{ Posts7.Players[i] }}</th>
    	<th>{{ Posts7.Matches[i] }}</th>
    	<th>{{ Posts7.Wickets[i] }} </th>
    	<th>{{ Posts7.Points[i] }}</th>
    </tr>
      
    {% else %}

    <tr>
    	<th>{{ Posts7.Players[i] }}</th>
    	<th>{{ Posts7.Matches[i] }}</th>
    	<th>{{ Posts7.Wickets[i] }} </th>
    	<th>{{ Posts7.Points[i] }}</th>
	</tr>
     {% endif %}
	{% endfor %}
	</table>
</div>
<br>
<br>



	

<div id="rank2" class="team_heading">
	Leaderboard
</div>
<br>
<div id="point_table2" >
	<table>
		<tr>
			<th>Rank</th>
			<th>Team Name</th>
			<th>Batting Points</th>
			<th>Bowling Points</th>
			<th id ="Table_points">Total Points</th>
			<th>Points to Win</th>
		</tr>
		{% for i in range(2) %}
		<tr>
			<th>{{ (i+1) }}</th>
			<th>{{ point_table2[i][0] }}</th>
			<th>{{ point_table2[i][1] }}</th>
			<th>{{ point_table2[i][2] }}</th>
			<th id ="Table_points">{{ point_table2[i][3] }}</th>
			<th>{{ point_table2[0][3]-point_table2[i][3] }}</th>

		</tr>
		{% endfor %}
	</table>
</div>
</div>

<!-- AMISH FRIENDS -->
	<hr style="margin-top: 55px;">
	<div id="friends-battle" class="team_heading" style="margin-top:  50px; background: grey;"> 
		Friends Battle
	</div>
	<br>
	<div id="battle3"  ><!-- 
	<div id ="menu">Welcome to the Family Cricket Battle</div> -->
	<br>
	<br>
	
	<div id="amish2" class="team_heading">
		Team Amish
	</div>
	<br>
	<div id="team8" class="team_table">
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Runs</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(posts8.Players|length) %}
    <tr>
    	<th>{{ posts8.Players[i] }}</th>
    	<th>{{ posts8.Matches[i] }} </th>
    	<th>{{ posts8.Runs[i] }} </th>
    	<th>{{ posts8.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
	<br>
	
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Wickets</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(Posts8.Players|length) %}
    <tr>
    	<th>{{ Posts8.Players[i] }}</th>
    	<th>{{ Posts8.Matches[i] }} </th>
    	<th>{{ Posts8.Wickets[i] }} </th>
    	<th>{{ Posts8.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
	</div>

<br>
<br>
	<div id="khushal"  class="team_heading">
		Team Khushal
	</div>
	<br>
<div id="team9" class="team_table">
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Runs Scored</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(posts9.Players|length) %}
    <tr>
    	<th>{{ posts9.Players[i] }}</th>
    	<th>{{ posts9.Matches[i] }}</th>
    	<th>{{ posts9.Runs[i] }} </th>
    	<th>{{ posts9.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
	<br>
	
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Wickets</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(Posts9.Players|length) %}
    <tr>
    	<th>{{ Posts9.Players[i] }}</th>
    	<th>{{ Posts9.Matches[i] }}</th>
    	<th>{{ Posts9.Wickets[i] }} </th>
    	<th>{{ Posts9.Points[i] }}</th>

    </tr>
	{% endfor %}
	</table>
</div>


<br>
<br>
	<div id="jinay" class="team_heading">
		Team Jinay
	</div>
	<br>
<div id="team10" class="team_table">
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Runs Scored</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(posts10.Players|length) %}
    <tr>
    	<th>{{ posts10.Players[i] }}</th>
    	<th>{{ posts10.Matches[i] }} </th>
    	<th>{{ posts10.Runs[i] }} </th>
    	<th>{{ posts10.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
	<br>
	
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Wickets</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(Posts10.Players|length ) %}
    <tr>
    	<th>{{ Posts10.Players[i] }}</th>
    	<th>{{ Posts10.Matches[i] }} </th>
    	<th>{{ Posts10.Wickets[i] }} </th>
    	<th>{{ Posts10.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
</div>

<br>
<br>
	<div id="deep" class="team_heading">
		Team Deep
	</div>
	<br>
<div id="team11" class="team_table">
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Runs Scored</th>
			<th>Points</th>
		</tr>
    
    {% for i in range( posts11.Players|length) %}
    <tr>
    	<th>{{ posts11.Players[i] }}</th>
    	<th>{{ posts11.Matches[i] }} </th>
    	<th>{{ posts11.Runs[i] }} </th>
    	<th>{{ posts11.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
	<br>
	<table>
		<tr>
			<th>Player Name</th>
			<th>Matches</th>
			<th>Wickets</th>
			<th>Points</th>
		</tr>
    
    {% for i in range(Posts11.Players|length) %}
    <tr>
    	<th>{{ Posts11.Players[i] }}</th>
    	<th>{{ Posts11.Matches[i] }} </th>
    	<th>{{ Posts11.Wickets[i] }} </th>
    	<th>{{ Posts11.Points[i] }}</th>
    </tr>
	{% endfor %}
	</table>
</div>
<br>
<br>


<div id="rank3" class="team_heading" >
	Leaderboard 
</div>
<br>
<div id="point_table3" >
	<table>
		<tr>
			<th>Rank</th>
			<th>Team Name</th>
			<th>Batting Points</th>
			<th>Bowling Points</th>
			<th id="Table_points">Total Points</th>
			<th>Points to win</th>
		</tr>
		{% for i in range(4) %}
		<tr>
			<th>{{ (i+1) }}</th>
			<th>{{ point_table3[i][0] }}</th>
			<th>{{ point_table3[i][1] }}</th>
			<th>{{ point_table3[i][2] }}</th>
			<th id="Table_points">{{ point_table3[i][3] }}</th>
			<th>{{ point_table3[0][3]-point_table3[i][3] }}</th>
		</tr>
		{% endfor %}
	</table>
</div>
</div>


<hr style="margin-top: 60px;">
<script type="text/javascript">
	$(document).ready(function()  {

		$("#family-battle").click(function(){
			$("#battle").slideToggle();
			$("#battle2").hide();
			$("#battle3").hide();
		});
			
		$("#shubh").click(function(){
			$("#team1").slideToggle();
			$("#team2").hide();
			$("#team3").hide();
			$("#team4").hide();
			$("#team5").hide();
		});
		});

	$(document).ready(function()  {
			
		$("#karan").click(function(){
			$("#team2").slideToggle();
			$("#team1").hide();
			$("#team3").hide();
			$("#team4").hide();
			$("#team5").hide();
		});
		});

	$(document).ready(function()  {
			
		$("#harsh").click(function(){
			$("#team3").slideToggle();
			$("#team2").hide();
			$("#team1").hide();
			$("#team4").hide();
			$("#team5").hide();
		});
		});

	$(document).ready(function()  {
			
		$("#amish").click(function(){
			$("#team4").slideToggle();
			$("#team2").hide();
			$("#team3").hide();
			$("#team1").hide();
			$("#team5").hide();
		});
		});

	$(document).ready(function()  {
			
		$("#viraj").click(function(){
			$("#team5").slideToggle();
			$("#team2").hide();
			$("#team3").hide();
			$("#team4").hide();
			$("#team1").hide();
		});
		});

	$(document).ready(function()  {
			
		$("#rank").click(function(){
			$("#point_table").slideToggle();
			$("#team1").hide();
			$("#team2").hide();
			$("#team3").hide();
			$("#team4").hide();
			$("#team5").hide();
		});
		});




	$(document).ready(function()  {



		$("#karan-kavin").click(function(){
			$("#battle2").slideToggle();
			$("#battle").hide();
			$("#battle3").hide();
		});
			
		$("#karan2").click(function(){
			$("#team6").slideToggle();
			$("#team7").hide();
			
			
		});
		});

	$(document).ready(function()  {
			
		$("#kavin").click(function(){
			$("#team7").slideToggle();
			$("#team6").hide();
			
			
		});
		});	

	$(document).ready(function()  {
			
		$("#rank2").click(function(){
			$("#point_table2").slideToggle();
			$("#team6").hide();
			$("#team7").hide();
			
			
		});
		});

	$(document).ready(function()  {

		$("#friends-battle").click(function(){
			$("#battle3").slideToggle();
			$("#battle2").hide();
			$("#battle").hide();
		});
			
		$("#amish2").click(function(){
			$("#team8").slideToggle();
			$("#team9").hide();
			$("#team10").hide();
			$("#team11").hide();
		});
		});

	$(document).ready(function()  {
			
		$("#khushal").click(function(){
			$("#team9").slideToggle();
			$("#team8").hide();
			$("#team10").hide();
			$("#team11").hide();
		});
		});

	$(document).ready(function()  {
			
		$("#jinay").click(function(){
			$("#team10").slideToggle();
			$("#team8").hide();
			$("#team9").hide();
			$("#team11").hide();
		});
		});

	$(document).ready(function()  {
			
		$("#deep").click(function(){
			$("#team11").slideToggle();
			$("#team8").hide();
			$("#team9").hide();
			$("#team10").hide();
		});
		});

	

	$(document).ready(function()  {
			
		$("#rank3").click(function(){
			$("#point_table3").slideToggle();
			$("#team8").hide();
			$("#team9").hide();
			$("#team10").hide();
			$("#team11").hide();
		});
		});
</script>
</body>
</html>
 